{% extends "launcher/base.html" %}
{% block head %}
<script type="text/javascript">
function startApp(computerName, appName){
$.post("{{ actionURL }}", { computer:computerName, action: 'run', app:appName } ,function(data){
location.reload();
        });
}

function stopPrograms(computer, app){
    $.post("{{ actionURL }}", { computer:computer, action: 'stop', app:app} ,function(data){
location.reload();
        });
}

</script>
{% endblock %}

{% block content %}
   <div class="activeComputer">
     <ul class="apps" id="{{ computer.name }}">
    {% for app in computer.listApps %}
    <li id="{{ computer.name }}.{{ app }}" class={% if app == computer.runningApp %} "selected" {% else %} "app" {% endif %}
	  onclick="startApp('{{ computer.name }}', '{{ app }}');"> {{ app }} </li>
    {% endfor %}
    <li id="stop" class={% if app == computer.runningApp %} "selected" {% else %} "app" {% endif %} onclick="stopPrograms('{{ computer.name }}', 'stop');"> Stop </li>
    </ul>
   </div>

{% endblock %}
