{% extends "launcher/base.html" %}
{% block content %}

   <div class="activeComputer">
   {{ computer.name }}<br/>
   <div class="apps" id="{{ computer }}">
    {% for app in computer.listApps %}
    <span id="{{ computer }}.{{ app }}" class={% if app == computer.runningApp %} "selected" {% else %} "app" {% endif %}
	  onclick="startApp('{{ computer.name }}', '{{ app }}');"> {{ app }} </span>
    {% endfor %}
    <span class="app stop {% if computer.runningApp == "" %} selected {% endif %}" onclick="stopPrograms('{{ computer.name }}', 'stop');"> stop </span>
   </div>
    </div>

{% endblock %}
